html{
    scroll-behavior: smooth;
}
.nav-contain{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}
img{
    margin-top: 30px;
}
.nav-ul{
    overflow: hidden; 
    list-style: none; 
    display: flex;
    flex-direction: row; 
 width: 50%;
 justify-content: space-around;

}
a{text-decoration: none;
text-align: center;
color: white;
font-size: 30px;
font-weight: 1000;}

.nav-header{
    background-image:url("hero.jpeg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin: 0px;

}
.banner-contain{
    width: 100%;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner-contain>h1{
    font-size: 100px;
    font-weight: 1000;
}
.banner-contain>p{
    width: 80%;
 padding: 10px;
}
article{
    height: 100vh;
}

.fixed{
    background-color: white;
    width: 100%;
    margin: 0px;
    position: fixed;
    top: 0px;

}
.fixed> .nav-ul{
    margin-top: 50px;
}
.fixed a{
    color: black;

}